.wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Title */
.title-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  text-align: center;
  font-size: 1.5rem;
}
/* Svg */
.svg-container {
  min-width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pallete */
.pallete-container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-color {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 2px solid black;
}

.single-color-active {
  height: 90px;
  width: 90px;
  transition: all 0.2s;
}
